/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fs-smaller {
  font-size: smaller;
}

.fs-larger {
  font-size: larger;
}

.fw-bold {
  font-weight: bold;
}

mat-sidenav[style] {
  visibility: visible !important;
}

.mat-drawer {
  transform: none !important;
}

.btn-level {
  font-size: small;
  height: 25px;

  &.low {
    background-color: #b5ffc9;
    color: #065b00;
  }

  &.medium {
    background-color: #ffe4b5;
    color: #5b2300;
  }

  &.high {
    background-color: #ffb5b5;
    color: #ff0707;
  }

  &.closed {
    background-color: #ffb5b5;
    color: #ff0707;
  }

  &.pending {
    background-color: #b5e5ff;
    color: #13227d;
  }

  &.inprogress {
    background-color: #e8ffb5;
    color: #657900;
  }

  &.finished {
    background-color: #b5ffc9;
    color: #065b00;
  }
}