/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fs-smaller {
  font-size: smaller;
}

.fs-larger {
  font-size: larger;
}

.fw-bold {
  font-weight: bold;
}

mat-sidenav[style] {
  visibility: visible !important;
}

.mat-drawer {
  transform: none !important;
}

.mat-accent.mat-mdc-slide-toggle {
  --mdc-switch-selected-track-color: #d7e3ff;
  --mdc-switch-selected-hover-track-color: #a8a9c0;
  --mdc-switch-selected-focus-track-color: #c6c7e2;
  --mdc-switch-selected-pressed-track-color: #a8a9c0;
}